body {   
    background-color: darkseagreen;
   
   
    margin:0 auto; 
  
    color: rgb(251, 248, 208);
    font-size: 20px;

}

.container{
    display: flex;
    text-align: center;
    gap: 10px;
    height:auto;
    flex-wrap:wrap-reverse;
    flex-direction: row;
    justify-content: center;
}

.text{
   
   
    background-color: rgb(142, 194, 176);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(251, 248, 208);
    max-width: 25%;
    max-height: 35%;
    padding: 2%;
    height: fit-content;
    
}

.monet{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px
}

ul{
    list-style: none;
}

.border{
    border-style: solid;
    border-width: 10px;
    border-color:  rgb(251, 248, 208);

}
