#grad {
    height: 100px;
    background-image: linear-gradient(90deg,#106e7578, #f3b5d482, #37096274);
  }
 
p.border{
    border-style: double;
    border-radius: 100%;
    text-align: center;
    color: white;
    border-color: white;
    border-width: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

div.pic { 
    background: url(oceanpic.jpeg) repeat;
    opacity: 80%;
    margin: 0%;
    background-color: aqua;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
}
 
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
  }

.li {
    display: inline;
    
}
.a{
    display: block;
    padding: 14px 30px;
    display: inline;
    font-size: 30px;
    color: white;
    float: inline-start;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a:hover {
    background-color: #db6fc7a8;
  }

.container {
    display:flex;
    min-height: 50vh;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .img {
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid ;
  }
  .imgG {
    border-radius: 50%;
    border-color: rgba(222, 108, 225, 0.597);
    border-width: 3px;
    border-style: solid ;
  }


  .tub {
    display:flex;
    min-height: 60vh;
    flex-direction:column;
    justify-content:left;
  }
  .parent {
    display: flex;
    flex-direction: row;
}

.tubB{
    display:flex;
    min-height: 60vh;
    flex-direction:column;
    justify-content:right;
  }

.p1 {
    background-color: white;
    opacity: 80%;
    border-radius: 0%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(19, 93, 110);
    padding: 10%;
    margin: 15%;
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

  